include mixins.pug

h3#cons Cons

:markdown-it
  A simple singly linked list. It can be useful in cases where a list is build by repeatedly prepending elements to the front of the this. `Cons` supports the `cons` operation in very low constant time.

  It implements semigroup, monoid, functor, applicative, monad, foldable and traversable.

+fn('nil', 'Cons<any>')
  :markdown-it

    The sentinel value at the end of the list indicating the end.
    Alternatively it can be though of as the empty list.

+fn('cons', '<A>(a: A, as: Cons<A>)')
  :markdown-it
    Prepend the element `a` to the beginning of the list `as`.

+fn('fromArray', '<A>(as: A[]): Cons<A>')
  :markdown-it
    Creates a `Cons`-list from an array
