mixin method(name, signature)
  div.method
    span.name= name
    span : #{signature}

doctype html
html(lang="en")
  head
    title Jabz
    link(href='./style.css', rel='stylesheet')
    link(href='./solarized-light.css', rel='stylesheet')
    script(src='./script.js')
    script(src='http://localhost:35729/livereload.js')
  body
    header
      div.title-wrap
        h1 Jabz
      p powerful and practical abstractions for JavaScript
    div.thing
      include sidebar.pug
      div#container.col
        h2 Specification

        h3 Semigroup
        table.spec-table
          tr
            td Description
            td
              p A semigroup represents things that can be combined. That is, two objects of the same semigroups can be combined into one object of the semigroup. In other words semigroups are things that can be composed. 
              p Examples are many. For instance numbers can be combined by adding them together, lists can be combined by concatenating them and images can be combined by overlaying them.
          tr
            td Methods
            td
              +method('combine', '(a: A) => A')

        h3 Monoid
        table.spec-table
          tr
            td Description
            td Monoid extends semigroups with an identity element.
          tr
            td Methods
            td
              +method('identity', '() => A')
          tr
            td Laws
            td.method m.combine*(m.identity()) === m.identity().combine(m) === m

        h2 Functions

        h3#monoid Monoid
        | Import with.
        pre
          code.typescript.
            import * as Monoid from "jabz/monoid";
        h3#functor Functor
        | Import with.
        pre
          code.typescript.
            import * as Functor from "jabz/functor";
        div
          div.signature
            span.name map
            span.signature
              = ': <F extends Functor, A, B>(f: (a: A) => B, a: F<A>) => F<B>'
          div.description
            | Performs a right fold over a foldable.

        h3#foldable Applicative
        | Import with.
        pre
          code.typescript.
            import * as Applicative from "jabz/applicative";
        h3#foldable Foldable
        | Import with.
        pre
          code.typescript.
            import * as Foldable from "jabz/foldable";

        h3#foldable Monad
        | Import with.
        pre
          code.typescript.
            import * as Monad from "jabz/monad";
        div
          div.signature
            span.name fold
            span.signature
              = ': <A, B>(f: (a: A, b: B) => B, acc: B, a: Foldable<A>) => B'
          div.description
            | Performs a right fold over a foldable.
        h3 Instances
