doctype html
html(lang="en")
  head
    title Jabz
    link(href='./style.css', rel='stylesheet')
    link(href='./solarized-light.css', rel='stylesheet')
    script(src='./script.js')
    script(src='http://localhost:35729/livereload.js')
    meta(name="viewport" content="width=device-width")
  body
    div#top-header.header-logo
      div.title-wrap
        h1 Jabz
      p powerful and practical abstractions for JavaScript
    div.container
      aside.sidebar
        div.sidebar-follow#menu
          include sidebar.pug
      section.content
        include content.pug

