include mixins.pug

h3#infinitelist InfiniteList
:markdown-it

  A simple lazy infinite list. It can only be created based on
  `naturals`.

  It implements functor, applicative and foldable. Since it is
  infinite it only works with the short-circuiting foldable methods.

  ```javascript
  // Find the first square number larger than 100
  find((n) => n > 100, map((n) => n * n, naturals)); //=> 121
  ```

+fn('naturals', 'InfiniteList<number>')
  :markdown-it
    An infinite list of the natural numbers. `[0, 1, 2, ...]`.

+fn('repeat', '(a: A): InfiniteList<A>')
  :markdown-it
    An infinite list of `a`s. `[a, a, a, ...]`.
