ul
  li Abstractions
    ul
      each impl in abstractions
        li
          a(href='#' + impl.name)= impl.name
          ul
            each f in impl.functions
              li
                a(href='#' + f.name)= f.name
  li Implementations
    ul
      each impl in implementations
        li
          a(href='#' + impl.name)= impl.name
          ul
            each f in impl.functions
              li
                a(href='#' + f.name)= f.name