aside#sidebar
  ul
    li
      | Specification
      ul
        li Monoid
        li Functor
        li Applicative
        li Monad
        li Foldable
        li Traversable
    li Utility
    li Implementation
