@import "fonts.scss";
@import "../node_modules/normalize.css/normalize.css";

$menu-width: 8em;
$large-screen: 1000px;
$medium-screen: 850px;

body {
  color: #222;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  background-color: #fffff8;
  line-height: 1.5em;
}

html, body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.6em;
  font-weight: normal;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

pre {
  font-size: .9em;
  padding: .4em;
  background: #fdf6e3;
  overflow-x: scroll;
}

code {
  font-family: Source Code Pro, Consolas, Menlo, Courier, monospace;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5em;
  background: #670b0b;
  color: #fff;
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  text-align: center;
  .title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
    border-radius: 50%;
    width: 12em;
    height: 12em;
  }
  h1 {
    font-weight: normal;
    font-size: 4.2em;
  }
  p {
    font-size: 1.3em;
  }
}

.container {
  display: flex;
  justify-content: center;
}
  
.content {
  padding: 1em;
  max-width: 44em;
  flex: 1;
}

.sidebar {
  align-self: flex-start;
  width: $menu-width;
  padding: 1em;
  ul {
    line-height: 1.4em;
    list-style: none;
    margin: .3em 0;
    margin-left: .5em;
    padding-left: .5em;
    border-left: 1px solid #eee;
  }
  & > ul {
    margin-left: 0em;
    padding-left: .5m;
  }
  .fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 1em;
  }
  .sidebar-follow {
    width: $menu-width;
  }
}

.fn {
  border-top: 4px solid rgb(245, 245, 240);
  padding: .2em 0;
}

div.signature {
  font-family: Source Code Pro, Consolas, Menlo, Courier, monospace;
  background-color: #efefef;
  padding: .4em;
  margin: 1em 0;
  overflow-x: scroll;
  .name {
    font-weight: bold;
    font-size: 1.2em;
  }
  .type {
    margin-left: .5em;
    font-size: .9em;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.method {
  font-family: Source Code Pro, Consolas, Menlo, Courier, monospace;
  background-color: #efefef;
  .name {
    font-weight: bold;
  }
}

.spec-table {
  width: 100%;
  border-spacing: 1em;
  td {
    vertical-align: top;
    > :first-child {
      margin-top: 0;
    }
  }
  tr td:nth-child(1) {
    font-weight: bold;
    width: 6em;
    text-align: right;
  }
}

.b {
  border: 1px solid black;
}

@media (max-width: $large-screen) {
  .container {
    flex-direction: column;
    align-items: center;
  }
    
  .sidebar .fixed {
    position: relative;
  }
}

@media (max-width: $medium-screen) {
  .container {
    align-items: stretch;
  }
}
  
